<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>footer</title>
</head>
<body>
    
 
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"><p>We believe the most radical and transformative of inventions are often those that empower others to unleash their creativity—to pursue their dreams.

            Likewise we believe we have an equally strong opportunity in India to use our resources and strengths of innovation, technology, infrastructure and market reach to create opportunities that will transform lives of the communities we operate in and support India’s development goals in education, sanitation and health and skill development for livelihood.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>CONTACT US</h6>
         <p>Street:  Arneja Corner, Sec 17, Vashi

          City:   Mumbai
          
          State/area:    Maharashtra
          
          Phone number  02227892215
          
          Zip code  400705
          
          Country calling code  +91
          
          Country  India</p>
         <address>
          <a href="mailto:jim@rock.com">jim@rock.com</a><br>
          <a href="tel:+13115552368">(311) 555-2368</a>
        </address>
        
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a [routerLink]='["/home"]'>Home</a></li>
            <li><a [routerLink]='["/product"]'>Products</a></li>
            <li><a [routerLink]="['/login']">Login </a></li>
           
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved 
     
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
            <li><a class="pinterest" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</body>
</html>
