.navbar-toggler {
    outline: none !important;
    border: none;
    font-size: 1.6rem;
    color: rgb(228, 218, 218) !important;
    
   
  }
  .nav-link {
    font-size: 2.0rem;
    border-bottom: 0.1rem solid #fff;
    font-family: cursive;
    font-weight: bold;
  }
  .active {
    border-bottom: 0.1rem solid #181717;
  }
  .navbar-icon {
    font-size: 1.6rem;
  }
  .navbar-cart-icon {
    color: #071013;
    position: relative;
  }
  .navbar-cart-icon:hover {
    color: #9b9999;
  }
  .cart-items {
    color: #fff;
    position: absolute;
    top: -15%;
    right: -25%;
    padding: 0.2rem 0.3rem;
    background: #fdbe02;
    font-size: 0.1rem;
    border-radius: 50%;
  }
  

 
  
  
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }

  .carousel-inner img {
    width: 100%; /* Set width to 100% */
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
   /* @media (max-width: 600px) {
      carousel-caption }
      */
   
  
  
   @media (max-width: 600px) {
    .carousel-caption ,  .row{
      display: none;  
  }
} 
  #a1{
    font-family: cursive;
    font-size:30px;
    text-align: center ;
    /* padding-right: 900px; */
    color: rgb(134, 17, 81);
    
    text-shadow: 2px 2px 9px red;}
    li{display: inline-block;}

    .fa {  
      padding: 20px;  
    text-align: center;  
      margin: 5px 2px;  
      font-size: 30px;  
      width: 50px;  
    }  
    .fa-facebook {  
      background: #3B5998;  
      color: white;  
    }  
    .fa-twitter {  
      background: #55ACEE;  
      color: white;  
    }  
    .fa-pinterest {  
      background: #cb2027;  
      color: white;  
    }  
    .fa-linkedin {  
      background: #007bb5;  
      color: white;  
    }  
    .fa-instagram {  
      background: #125688;  
      color: white;  
    }  
    .fa-youtube {  
      background: #bb0000;  
      color: white;  
    }  
    .fa-google {  
      background: #dd4b39;  
      color: white;  
    }  
    .fa-snapchat-ghost {  
      background: #fffc00;  
      color: white;  
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
    }  
    .fa-skype {  
      background: #00aff0;  
      color: white;  
    }  
    .fa:hover {  
        opacity: 0.9;  
    }  
    #w1
    {

       width: 100px;
      height: 100px; 
      background-color:aqua;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    @keyframes example {
      /* 0%   {background-color: red;}
      50%  {background-color: rgb(168, 168, 235);} */
      100% {background-color: rgb(152, 190, 152);}
    }
    .col-md-4{
      display: inline-block;
      margin-left:-10px;
    }
    .col-md-4 img{
      width:100%;
      height:auto;
    }
      
    body .carousel-control-prev-icon,
    body .carousel-indicators li,
    body .carousel-control-next-icon{
      background-color:#000;
    }
    
    span.carousel-control-prev-icon {
     position: relative;
     bottom: 40px;
     right: 40px;
    }
    
    span.carousel-control-next-icon {
     position: relative;
     bottom: 40px;
    }
    #text{
left: 220px;
top: 150px;
    }